<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Портфоліо</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,400&family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body> 
    <header class="page-header">
        <nav class="page-nav">
            <a class="link logo" href="./index.html">Web<span class="logoblack">Studio</span></a>
                <ul class="list menu">
                    <li><a class="link menu-link" href="index.html">Студія</a></li>
                    <li><a class="link menu-link current" href="./portfolio.html">Портфоліо</a></li>
                    <li><a class="link menu-link" href="#Контакти">Контакти</a></li>
                </ul>
        </nav>
        <ul class="list">
            <li><a class="link contacts" href="info@devstudio.com">info@devstudio.com</a></li>
            <li><a class="link contacts" href="+380961111111">+38 096 111 11 11</a></li>
        </ul>
    </header>
    <main>
        <section class="section-portfolio-button-sites">
            <h1 class="visually-hidden">Наші роботи</h1>
            <ul class="list button secondary">
                <li ><button type="button">Усі</button></li>
                <li ><button type="button">Веб-сайти</button></li>
                <li ><button type="button">Додатки</button></li>
                <li ><button type="button">Дизайн</button></li>
                <li ><button type="button">Маркетинг</button></li>
            </ul>
            <ul class="list sitelinks">
                <li>
                    <a href=""><img src="./images/portf1.jpg" alt="Техносайт" width="370">
                        <h2 class="names">Технокряк</h2>
                        <p class="texts">Веб-сайт</p>
                    </a>
                </li>
                <li>
                    <a href=""><img src="./images/portf2.jpg" alt="Постер" width="370">
                        <h2 class="names">Постер New Orlean vs Golden Star</h2>
                        <p class="texts">Дизайн</p>
                    </a>
                </li>
                <li>
                    <a href=""><img src="./images/portf3.jpg" alt="Ресторан" width="370">
                        <h2 class="names">Ресторан Seafood</h2>
                        <p class="texts">Додаток</p>
                    </a>
                </li>
                <li>
                    <a href=""><img src="./images/portf4.jpg" alt="Прайм" width="370">
                        <h2 class="names">Проєкт Prime</h2>
                        <p class="texts">Маркетинг</p>
                    </a>
                </li>
                <li>
                    <a href=""><img src="./images/portf5.jpg" alt="Боксес" width="370">
                        <h2 class="names">Проєкт Boxes</h2>
                        <p class="texts">Додаток</p>
                    </a>
                </li>
                <li>
                    <a href=""><img src="./images/portf6.jpg" alt="Інспірейшн" width="370">
                        <h2 class="names">Inspiration has no Borders</h2>
                        <p class="texts">Веб-сайт</p>
                    </a>
                </li>
                <li>
                    <a href=""><img src="./images/portf7.jpg" alt="Видання" width="370">
                        <h2 class="names">Видання Limited Edition</h2>
                        <p class="texts">Дизайн</p>
                    </a>
                </li>
                <li>
                    <a href=""><img src="./images/portf8.jpg" alt="Лаб" width="370">
                        <h2 class="names">Проєкт LAB</h2>
                        <p class="texts">Маркетинг</p>
                    </a>
                </li>
                <li>
                    <a href=""><img src="./images/portf9.jpg" alt="Бізнес" width="370">
                        <h2 class="names">Growing Business</h2>
                        <p class="texts">Додаток</p>
                    </a>
                </li>
            </ul>
        </section>
    </main>
        <footer class="hero">
            <address class="shryft">
                <a class="link logo" href="./index.html">Web<span class="logowhite">Studio</span></a>
                <ul class="list footercontacts">
                    <li><a class="link footeradress" href="https://goo.gl/maps/CPtrU1FHBa2aNyZL9" target="_blank"
                            rel="noopener noreferrer nofollow">м. Київ, пр-т Лесі Українки, 26</a></li>
                    <li><a class="link footertext" href="info@devstudio.com">info@devstudio.com</a></li>
                    <li><a class="link footertext" href="+380961111111">+38 096 111 11 11</a></li>
                </ul>
            </address>
        </footer>
</body>
</html>